*{
  margin: 0rem;
  padding: 0rem;
}
:root {
  --gray: #e7ede5;
  --darkGray: #b5c0af; 
  --sage: #1c3121;
  --white: #ffffff;
  --coral: #954638;
}
body {
  font-family: "Markazi Text", serif;
  padding: 1rem;
  padding-top: 0rem;
  padding-right: 0rem;
  /* background-color: var(--gray); */
  background-image: linear-gradient(to right, var(--gray) , var(--darkGray));
}
.active{
  color: white;
  background-color: var(--coral);
  border-radius: 3rem;
}
.active:hover, .active:focus{
  color: white;
}
#nav-bg{
  display: flex;
  background-color: white;
  width: 100vw;
  border-radius: 0rem 0rem 0rem 10rem;
  /* nav bar distance from top of screen */
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  margin-left: 4rem;
  margin-top: -1rem;
}
/* Portfolio */
#nav-bg h4{
  color: var(--coral);
  letter-spacing: 2px;
}
.nav-bar-name{
    text-decoration: none;
    color: var(--sage);
    letter-spacing: 20px;
    font-weight: 900;
}
.nav-bar-elements{
  letter-spacing: 2px;
  margin-left: 5rem;
  text-decoration: none;
  color: var(--darkGray);
  /* shift up because of transparent border and padding*/
  margin-top: -.3rem; 
  padding: .3rem 1rem;
  border: solid .1rem transparent;
}

.nav-bar-elements:hover, .nav-bar-elements:focus{
  text-emphasis-style: bold;
  border: solid .1rem var(--darkGray);
  border-radius: 1rem;
  padding: .3rem 1rem;
  color: var(--sage);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--gray);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1rem;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--darkGray);
    border-radius: 1rem;
}

.dropdown:hover .dropdown-content {display: block;}
#body-bg{
  z-index: -10;
  padding: 4rem;
  border-radius: 10rem 0rem 0rem 10rem;
  background-color: white;
  /* height: 100vh; */
  margin-top: 1rem;
} 
nav{
  z-index: -10;
  /* margin left of logo */
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
nav img{
  margin-top: 1rem;
}
#nav-logo{
  width: 4rem;
  height: 100%;
}
#intro{
    display: flex;
}
.column1{
    margin-top: 1rem;
    margin-left: -1rem;
    width: 60%;
    padding: 5rem;
    border-radius: 0rem 5rem 5rem 0rem;
    background-color: white;
}

.hello{
    margin-left: 10%;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: var(--coral);
    letter-spacing: 3px;
}
/* in-text link */
.link{
  color: var(--sage);
}
.link:hover, .link:focus{
  color: var(--darkGray);
}
.bio{
    line-height: 100%;
    margin-left: 10%;
    margin-top: 1rem;
    width: 80%;
    font-size: 1.3rem;
}

.column2{
    display: grid;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 30%;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    row-gap: 1rem;
    
}
.column2 div{
    background-color: white;
    border-radius: 2rem 0rem 0rem 2rem;
}
.work-img{
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
}
.work-1, .work-2, .work-3{
    overflow: hidden;
}
.details{
  padding: 10%;
  padding-right: 0;
  margin-top: 1rem;
  margin-left: -1rem;
  background-color: white;
  overflow: hidden;
  border-radius: 15rem 0rem 0rem 0rem;
}
.details img{
  width: 100%;
  border-radius: 15rem 0rem 0rem 0rem;
}